<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
    <title></title>
</head>
<body>
<div id="demo">
    <div align="middle">
        <img src="img/logo.jpeg" width="600" >
        <form method="post" action="/search">
            beauty:<input type="text" name="beauty">
            Age:<input type="text" name="age">
            Gender:<select name="gender">
                <option value="男">男</option>
                <option value="女">女</option>
            </select>
{{/*            <input type="text" maxlength="100" style="width: 400px; height: 25px" name="q">*/}}
            <button type="submit" style="height: 30px">Search</button>
        </form>
    </div>
</div>
</body>
</html>
  